ul, li {
  list-style: none;
}

.dish-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px;
}

img {
  width: 98%;
  border-radius: 5px;
}

.all-dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
