ul, li {
  list-style: none;
}

.dish-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  box-sizing: border-box;
  padding: 10px;
  margin: 20px;
}

img {
  width: 98%;
  border-radius: 5px;
}

.all-dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.dish {
  font-size: 16px;
  font-weight: 600;
}

#heart {
  position: relative;
  width: 50px;
  height: 40px;
  transform: scale(0.4);
  left: 94px;
  opacity: .5;
}

#heart:hover {
  opacity: 1;
  color: #fff;
  cursor: pointer;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 120px;
  width: 50px;
  height: 80px;
  background: #f0cfe6;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin :100% 100%;
}
