<div class="container">
  <h1>Can't decide on what to eat today? How about:</h1>
  <!-- random recipe -->
  <section *ngIf="random !== null">
    <div class="wrapper">
      <div class="recipe-box">
        <img class="thumb" src="{{random.strMealThumb}}">
        <div class="details-box">
          <h2>{{random.strMeal}}</h2>
          <section class="tags" *ngIf="random !== undefined">
            <p class="category"
               routerLink={{random.strCategory.toLowerCase()}}>
              {{random.strCategory}} recipes
            </p>
            <p class="category"
               routerLink={{random.strArea.toLowerCase()}}>
              {{random.strArea}} cuisine
            </p>
          </section>
        </div>
      </div>
      <div class="how-to">
        <h4>Ingredients</h4>
        <ul *ngFor="let int of ingredients">
          <li *ngIf='int !== "" && int !== undefined && random !== null'>
             {{int}}
          </li>
        </ul>

        <h3>Instructions</h3>
        <p class="instructions">{{random.strInstructions}}</p>

      </div>
    </div>
  </section>
</div>
