<div class="container">
  <h1>Can't decide on what to eat today? How about:</h1>
  <!-- random recipe -->
  <section *ngIf="random !== null">
    <div class="wrapper">
      <div class="recipe-box">
        <img class="thumb" src="{{random.strMealThumb}}">
        <div class="details-box">
          <h2>{{random.strMeal}}</h2>
          <section class="tags" *ngIf="random !== undefined">
            <p class="category"
               routerLink={{random.strCategory.toLowerCase()}}>
              {{random.strCategory}} recipes
            </p>
            <p class="category"
               routerLink={{random.strArea.toLowerCase()}}>
              {{random.strArea}} cuisine
            </p>
          </section>
        </div>
      </div>
      <div class="how-to" *ngIF="random !== undefined">
        <p class="instructions">{{random.strMeal}} is the perfect dish for you?
          Learn how to make this delicious {{random.strMeal}} with these easy steps. </p>
        <button class="more" routerLink="/category/{{category}}/{{removeWhitespace(dish.strMeal).toLowerCase()}}/{{dish.idMeal}}">Read more</button>
<!--        <iframe width="600" height="315"-->
<!--                src="{{random.strYoutube}}"-->
<!--                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
      </div>
    </div>
  </section>
</div>
