<div class="container">
  <h3>Can't decide on what to eat today?
    <br>How about:</h3>
  <!-- random recipe -->
  <section *ngIf="random !== null">
    <div class="wrapper">
      <div class="recipe-box">
        <img class="thumb" src="{{random.strMealThumb}}">
        <div class="details-box">
          <h2
            routerLink="/category/{{random.strCategory.toLowerCase()}}/{{removeWhitespace(random.strMeal).toLowerCase()}}/{{random.idMeal}}">
            {{random.strMeal}}</h2>
          <section class="tags" *ngIf="random !== undefined">
            <p class="category"
              routerLink="/category/{{random.strCategory.toLowerCase()}}/{{removeWhitespace(random.strMeal).toLowerCase()}}/{{random.idMeal}}">
              Read instructions
            </p>
          </section>
        </div>
      </div>
    </div>
  </section>

  <span class="img">
    <div class="background">
      <span class="wrap">
        <div class="text-wrap">
          <h1>Welcome to Foodster</h1>
          <h2 class="welcome-text">Your number one recipe app. </h2>
          <p class="intro">Find food inspirations, discover new recipes and videos. No more boring dinners and long
            hours spent in kitchen.
            We're here to make your everyday meal prepping easier.
            <br>Our team ensures that all recipes listed are tasty and quick to prepare. Now, what are you waiting for?
            Get to cooking!
          </p>
        </div>
      </span>
    </div>
  </span>
  <app-recommended></app-recommended>
</div>
