<div class="container">
  <h1>Shopping List</h1>
  <p>Add ingredients to your shopping list to make sure that you don't forget to buy anything.
  </p>
  <ul *ngIf="list !== null && list !== undefined && list !== []">
    <li *ngFor="let ingredient of list, let i = index">{{ingredient}}
      <button class="recipe-button add remove" (click)="removeFromList(i)">x</button>
    </li>
  </ul>
  <section *ngIf="list === null || list === undefined || list.length === 0">
    <app-recommended></app-recommended>
  </section>
</div>
