<section *ngIf="data !== null && data !== undefined">
  <div class="wrapper">
    <div class="recipe-box">
      <button class="favs-button button" (click)="saveRecipe(data.idMeal)">Save</button>
      <img class="thumb" src="{{data.strMealThumb}}">
      <div class="details-box">
        <h2>{{data.strMeal}}</h2>
        <section class="tags" *ngIf="data !== undefined">
          <p class="category"
             routerLink="/category/{{data.strCategory.toLowerCase()}}">
            {{data.strCategory}} recipes
          </p>
          <p class="category"
             routerLink="/category/{{data.strArea.toLowerCase()}}">
            {{data.strArea}} cuisine
          </p>
        </section>
      </div>
    </div>
    <div class="how-to">
      <h3>Ingredients</h3>
      <ul *ngFor="let int of ingredients">
        <li class="ingredient" *ngIf='int !== " " && data !== null'>
          {{int}}
        </li>
      </ul>
      <br>
      <h3>Instructions</h3>
      <p class="instructions">{{data.strInstructions}}</p>
      <!--        <iframe width="600" height="315"-->
      <!--                src="{{random.strYoutube}}"-->
      <!--                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
    </div>
  </div>
</section>
